.code-editor {
  width: 100vw;
  height: 70vh;
  font-size: 24px;
}

.ace_bf-token {

  font-weight: bold;

  &_io {
    color: orangered;
  }

  &_pointer {
    color: #0089ff;
  }

  &_memory {
    color: #31a530;
  }

  &_loop {
    color: #ae00ff;
  }
}

.bf-highlighter {

  position: absolute;
  border-radius: 0px;
  box-sizing: border-box;

  &_breakpoint {
    border: 2px solid red;
  }

  &_execution-pos {
    background: #ff00008f;
  }
}
