.code-editor(
  appEditor,
  [breakpoints]='breakpointsSource$',
  [executionPosIndex]='executionPosSource$',
  (codeChange)='onCodeChange($event)',
  (cursorIndexChange)='onCursorIndexChange($event)'
)
