input(
  #interpreter_input,
  placeholder='interpreter input',
  (blur)='finishInterpreterInputEditing(interpreter_input.value)'
)

span Release
button((click)='clickOnReleaseExecutionControlButton()')
  app-icon([icon]='releaseExecutionControlIcon')

span Debug
button((click)='clickOnDebugExecutionControlButton()')
  app-icon([icon]='debugExecutionControlIcon')

button(
  (click)='clickOnContinueDebugButton()',
  [disabled]='!(isDebugExecutionPaused$ | async)'
)
  app-icon([icon]='continueIcon')

button(
  (click)='clickOnMakeStepButton()',
  [disabled]='!(isDebugExecutionPaused$ | async)'
)
  app-icon([icon]='makeStepIcon')

button((click)='clickOnAddBreakpointButton()')
  app-icon([icon]='addBreakpointIcon')
