@import '../colors.scss';

body.page {
  margin: 0px;
  width: 100%;
  min-height: 100%;
}

:host(.page__inner) {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: $primary-light-color;
}

@media only screen and (orientation: portrait) {
  :host(.page__inner) {
    flex-direction: column;
  }

  .page__aside {
    order: 999;
  }
}
