.editor__inner
  textarea(
    #code
    (blur)='finishCodeTyping(code.value)'
  )
  br
  input(
    #progInput,
    (blur)='finishInputTyping(progInput.value)'
  )
  button((click)='run()') Run
  span(*ngIf='isRunning$ | async') RUNNING
  br
  pre.output {{programOutput$ | async}}
