@import '../../../colors.scss';

:host(.aside-menu) {
  background-color: $primary-color;
}

.aside-menu {
  &__inner {
    background-color: $primary-color;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__link {
    color: $primary-light-color;
    font-size: 2rem;
    line-height: 2rem;
    padding: 0.7rem;
    cursor: pointer;

    &:hover, &_active {
      color: $secondary-light-color;
    }
  }
}

@media only screen and (orientation: portrait) {
  .aside-menu__inner {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
